@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
// font-family: 'Inter', sans-serif;
@font-face {
    font-family: 'GB';
    src: url(../fonts/GorditaBold.otf);
}

$azul: #005CA9;
$gris: #F5F5F5;
$gris2: #66666D;
$gris3: #C7C7C8;

%centrar-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a, button, [type="submit"]{
    cursor: pointer;
    transition: all .2s ease;
}
select, option, button, input{
    outline: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    background: url(../images/fondo.jpg) no-repeat;
    background-position: bottom right;
    min-height: 100vh;
}

body, html{
    overflow-x: hidden;
}

.contenedor{
    width: min(90%, 1400px);
    margin-inline: auto;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    &.start{
        align-items: flex-start;
    }
    &.center{
        justify-content: center;
        gap: 25px;
    }
}

main, header, footer, section{
    width: 100%;
}

header{
    background: none;
    margin-bottom: 20px;
    padding-block: 20px;
}

.auspicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    p{
        color: $azul;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    img{
        width: min(100%, 110px);
    }
}

.title{
    background: $gris;
    min-height: 170px;
    position: relative;
    padding-block: 2rem;
    @extend %centrar-vertical;
    h1{
        text-align: center;
        font-family: 'GB';
        color: $azul;
    }
}

%button{
    display: block;
    border: 1px solid $azul;
    border-radius: 5px;
    min-height: 50px;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    background: $azul;
    width: 100%;
    color: white;
}

.datos{
    padding-block: 3rem;

    &:has(.with_info){
        padding-block: 1rem;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    }

    &_personales{
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
        width: min(100%, 1200px);
        margin-inline: auto;
        border-radius: 10px;
        padding: 2rem 3.5rem;

        &>p{
            margin-bottom: 14px;
            font-weight: bold;
        }

        &:has(.with_info){
            box-shadow: none;
            border-radius: 0;
        }

    }
    button, p, label, input{
        font-family: 'Inter', sans-serif;
    }
    &_form{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 190px;
        grid-gap: 20px;
        align-items: flex-end;
        div{
            width: 100%;
        }
        label{
            color: $gris2;
            display: block;
            width: 100%;
            margin-bottom: 7px;
            text-align: left;
        }
        input, button{
            width: 100%;
            border: 1px solid;
            border-radius: 5px;
            min-height: 50px;
            font-size: 1rem;
        }
        input{
            color: $gris3;
            border-color: $gris2;
            padding-inline: 10px;
            &::placeholder{
                color: $gris3;
            }
            &:disabled{
                background: #D6D6D6;
                border-color: #D6D6D6;
                color: #141414;
                &::placeholder{
                    color: rgba($color: #141414, $alpha: 0.3);
                }
            }
        }
        button{
            border-color: $azul;
            background: $azul;
            width: 100%;
            color: white;
        }

        &.with_info{
            grid-template-columns: repeat(2, 1fr);
            label{
                display: none;
            }
        }
    }
}

.aviso{
    padding-block: 1rem;
    @extend %centrar-vertical;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    min-height: 132px;
    p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        color: #000;
        font-size: 1rem;
    }
    &.fixed{
        position: relative;
    }
    &.finalizado{
        padding-block: .5rem;
        min-height: 98px;
    }
}

.timer{
    width: 200px;
    p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        text-align: center;
        margin-bottom: 10px;
        font-size: 1rem;
    }
    &_box{
        padding: 4px 10px;
        width: 100%;
        background: #04477B;
        border-radius: 5px;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 10px;
    }
    img{
        width: 38px;
        height: 38px;
        object-fit: contain;
        object-position: center;
    }
    span{
        color: white;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 26px;
    }
}

.init{
    padding-top: 5rem;
    button{
        @extend %button;
        max-width: 200px;
        margin: 0 auto 0;
    }
}

.cuestionario{
    padding: 2rem 0;
    min-height: 80vh;
    &_preguntas{
        width: 230px;
        h1{
            font-family: 'Inter', sans-serif;
            font-weight: 900;
            color: $azul;
        }
        div{
            width: 100%;
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-gap: 8px;
        }
        button{
            width: 100%;
            height: auto;
            font-family: 'Inter', sans-serif;
            font-weight: bold;
            aspect-ratio: 1/1;
            display: grid;
            place-items: center;
            background: #90AFC7;
            border: 1px solid #90AFC7;
            color: white;
            border-radius: 5px;
            p{
                font-size: 1.1em;
            }
        }
    }
    &_respuestas{
        width: calc(100% - 285px);
    }
}

.modal{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: none;
    &.active{
        display: block;
    }
    &_bg{
        position: absolute;
        inset: 0;
        z-index: 11;
        background: rgba($color: #1E1E1E, $alpha: 0.95);
    }
    &_box{
        position: absolute;
        top: 50%;
        padding: 1rem;
        z-index: 12;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 500px;
        min-height: 260px;
        border-radius: 12px;
        background: #D9D9D9;
        display: grid;
        place-items: center;
    }
    &_btn{
        position: absolute;
        right: -36px;
        top: -36px;
        z-index: 13;
        background: #D9D9D9;
        color: #000;
        width: 36px;
        height: 36px;
        display: grid;
        cursor: pointer;
        place-items: center;
        border-radius: 50%;
        font-size: 30px;
        transform: rotate(45deg);
    }
    p{
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        text-align: center;
        margin-bottom: 30px;
    }
    &_content{
        width: 100%;
        div{
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
    a, button{
        @extend %button;
        text-decoration: none;
        max-width: 200px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.pregunta{
    width: 100%;
    h2{
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: bold;
    }
    .options{
        margin-top: 28px;
        .opt{
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            flex-direction: row;
            gap: 10px;

            input{
                width: 24px;
                height: 24px;
            }
            label{
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 1.1rem;
            }
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }
    button{
        @extend %button;
        margin-top: 30px;
        max-width: 200px;
    }
}

.resultado{
    padding: 3rem 0;
    &_txt{
        text-align: center;
    }
    p{
        font-family: 'Inter', sans-serif;
        font-size: 1.1rem;
        &.msg{
            font-size: 1.4rem;
            margin-bottom: 10px;
        }
        strong, b{
            color: #00752F;
            font-size: 1.25rem;

        } 
    }
    span{
        font-family: 'GB';
        color: $azul;
        display: block;
        font-size: 40px;
        font-weight: bold;
        margin-bottom: 20px;
    }
}