@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@font-face {
  font-family: "GB";
  src: url(../fonts/GorditaBold.otf);
}
.aviso, .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a, button, [type=submit] {
  cursor: pointer;
  transition: all 0.2s ease;
}

select, option, button, input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  background: url(../images/fondo.jpg) no-repeat;
  background-position: bottom right;
  min-height: 100vh;
}

img {
  vertical-align: top;
}

body, html {
  overflow-x: hidden;
}

.contenedor {
  width: min(90%, 1400px);
  margin-inline: auto;
}
@media (max-width: 500px) {
  .contenedor {
    width: min(94%, 1400px);
  }
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row.start {
  align-items: flex-start;
}
.row.center {
  justify-content: center;
  gap: 25px;
}

main, header, footer, section {
  width: 100%;
}

header {
  background: none;
  margin-bottom: 20px;
  padding-block: 20px;
}
header .logo {
  max-width: 320px;
}
@media (max-width: 1150px) {
  header .logo {
    max-width: 250px;
  }
}
@media (max-width: 500px) {
  header .logo {
    max-width: 200px;
  }
}
@media (max-width: 390px) {
  header {
    padding-block: 14px;
    margin-bottom: 14px;
  }
  header .logo {
    max-width: 180px;
  }
}

.auspicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.auspicio p {
  color: #005CA9;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.auspicio img {
  width: min(100%, 110px);
}
@media (max-width: 390px) {
  .auspicio p {
    font-size: 14px;
  }
  .auspicio img {
    width: min(100%, 90px);
  }
}

.title {
  background: #F5F5F5;
  min-height: 170px;
  position: relative;
  padding-block: 2rem;
}
@media (max-width: 1150px) {
  .title {
    min-height: 150px;
    padding-block: 1.75rem;
  }
}
.title h1 {
  text-align: center;
  font-family: "GB";
  color: #005CA9;
}

.disclaimer_txt button, .pregunta button, .modal a, .modal button, .modal_2 a, .modal_2 button, .init button {
  display: block;
  border: 1px solid #005CA9;
  border-radius: 5px;
  min-height: 50px;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  background: #005CA9;
  width: 100%;
  color: white;
}

.datos {
  padding-block: 3rem;
}
.datos:has(.with_info) {
  padding-block: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.datos_personales {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  width: min(100%, 1200px);
  margin-inline: auto;
  border-radius: 10px;
  padding: 2rem 3.5rem;
}
@media (max-width: 1150px) {
  .datos_personales {
    padding: 2rem;
  }
}
.datos_personales > p {
  margin-bottom: 14px;
  font-weight: bold;
}
.datos_personales:has(.with_info) {
  box-shadow: none;
  border-radius: 0;
}
.datos button, .datos p, .datos label, .datos input {
  font-family: "Inter", sans-serif;
}
.datos_form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 190px;
  grid-gap: 20px;
  align-items: flex-end;
}
@media (max-width: 1150px) {
  .datos_form {
    grid-gap: 14px;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 590px) {
  .datos_form {
    grid-template-columns: 100%;
  }
}
.datos_form div {
  width: 100%;
}
.datos_form label {
  color: #66666D;
  display: block;
  width: 100%;
  margin-bottom: 7px;
  text-align: left;
}
.datos_form input, .datos_form button {
  width: 100%;
  border: 1px solid;
  border-radius: 5px;
  min-height: 50px;
  font-size: 1rem;
}
.datos_form input {
  color: #000;
  border-color: #66666D;
  padding-inline: 10px;
}
.datos_form input::-moz-placeholder {
  color: #C7C7C8;
}
.datos_form input::placeholder {
  color: #C7C7C8;
}
.datos_form input:disabled {
  background: #D6D6D6;
  border-color: #D6D6D6;
  color: #141414;
}
.datos_form input:disabled::-moz-placeholder {
  color: rgba(20, 20, 20, 0.3);
}
.datos_form input:disabled::placeholder {
  color: rgba(20, 20, 20, 0.3);
}
.datos_form button {
  border-color: #005CA9;
  background: #005CA9;
  width: 100%;
  color: white;
}
@media (max-width: 1150px) {
  .datos_form button {
    grid-column: span 2;
  }
}
@media (max-width: 590px) {
  .datos_form button {
    grid-column: 1/2 !important;
  }
}
.datos_form.with_info {
  grid-template-columns: repeat(2, 1fr);
}
.datos_form.with_info label {
  display: none;
}
@media (max-width: 590px) {
  .datos_form.with_info {
    grid-template-columns: 100%;
  }
}

.aviso {
  padding-block: 1rem;
  background: white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  min-height: 132px;
}
@media (max-width: 800px) {
  .aviso .col {
    width: 100%;
  }
  .aviso .col p {
    text-align: center;
  }
  .aviso .timer {
    margin: 20px auto 0;
  }
}
.aviso p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #000;
  font-size: 1rem;
}
.aviso.fixed {
  position: relative;
}
.aviso.finalizado {
  padding-block: 0.5rem;
  min-height: 98px;
}

.timer {
  width: 220px;
}
.timer p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1rem;
}
.timer_box {
  padding: 4px 10px;
  width: 100%;
  background: #04477B;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
}
.timer img {
  width: 38px;
  height: 38px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.timer span {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 23px;
}

.init {
  padding-top: 5rem;
}
.init button {
  max-width: 200px;
  margin: 0 auto 0;
}

.cuestionario {
  padding: 2rem 0;
  min-height: 80vh;
}
.cuestionario_preguntas {
  width: 230px;
}
@media (max-width: 1150px) {
  .cuestionario_preguntas {
    width: 100%;
    margin-bottom: 36px;
  }
}
.cuestionario_preguntas h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #005CA9;
}
.cuestionario_preguntas div {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 8px;
}
@media (max-width: 1150px) {
  .cuestionario_preguntas div {
    grid-template-columns: repeat(20, 1fr);
  }
}
@media (max-width: 920px) {
  .cuestionario_preguntas div {
    grid-template-columns: repeat(17, 1fr);
  }
}
@media (max-width: 740px) {
  .cuestionario_preguntas div {
    grid-template-columns: repeat(14, 1fr);
  }
}
@media (max-width: 630px) {
  .cuestionario_preguntas div {
    grid-template-columns: repeat(12, 1fr);
  }
}
@media (max-width: 530px) {
  .cuestionario_preguntas div {
    grid-template-columns: repeat(10, 1fr);
  }
}
@media (max-width: 470px) {
  .cuestionario_preguntas div {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media (max-width: 320px) {
  .cuestionario_preguntas div {
    grid-template-columns: repeat(7, 1fr);
  }
}
.cuestionario_preguntas button {
  width: 100%;
  height: auto;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  background: #90AFC7;
  border: 1px solid #90AFC7;
  color: white;
  border-radius: 5px;
}
.cuestionario_preguntas button p {
  font-size: 1.1em;
}
.cuestionario_respuestas {
  width: calc(100% - 285px);
}
@media (max-width: 1150px) {
  .cuestionario_respuestas {
    width: 100%;
  }
}

.mx-auto {
  margin-inline: auto;
}

.modal, .modal_2 {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: none;
}
.modal.active, .modal_2.active {
  display: block;
}
.modal_bg, .modal_2_bg {
  position: absolute;
  inset: 0;
  z-index: 11;
  background: rgba(30, 30, 30, 0.95);
}
.modal_box, .modal_2_box {
  position: absolute;
  top: 50%;
  padding: 1rem;
  z-index: 12;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 500px;
  min-height: 260px;
  border-radius: 12px;
  background: #D9D9D9;
  display: grid;
  place-items: center;
}
.modal_btn, .modal_2_btn {
  position: absolute;
  right: -36px;
  top: -36px;
  z-index: 13;
  background: #D9D9D9;
  color: #000;
  width: 36px;
  height: 36px;
  display: grid;
  cursor: pointer;
  place-items: center;
  border-radius: 50%;
  font-size: 30px;
  transform: rotate(45deg);
}
.modal p, .modal_2 p {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-bottom: 30px;
}
.modal_content, .modal_2_content {
  width: 100%;
}
.modal_content div, .modal_2_content div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.modal a, .modal button, .modal_2 a, .modal_2 button {
  text-decoration: none;
  max-width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pregunta {
  width: 100%;
}
.pregunta h2 {
  text-align: left;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}
.pregunta h2 p {
  font-weight: 100;
  margin-top: 10px;
}
.pregunta .options {
  margin-top: 28px;
}
.pregunta .options .opt {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  gap: 10px;
}
.pregunta .options .opt input {
  display: block;
  width: 24px;
  height: 24px;
  aspect-ratio: 1/1;
}
.pregunta .options .opt label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}
.pregunta .options .opt:not(:last-child) {
  margin-bottom: 16px;
}
.pregunta button {
  margin-top: 30px;
  max-width: 200px;
}

.resultado {
  padding: 3rem 0;
}
.resultado_txt {
  text-align: center;
}
.resultado_txt > div {
  width: -moz-fit-content;
  width: fit-content;
}
.resultado .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px;
}
.resultado p {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
}
.resultado p.msg {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.resultado p strong, .resultado p b {
  color: #00752F;
  font-size: 1.25rem;
}
.resultado span {
  font-family: "GB";
  color: #005CA9;
  display: block;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

.disclaimer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  background: #FFF4D6;
  padding-block: 3rem;
}
.disclaimer_txt {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.disclaimer_txt p {
  width: calc(100% - 250px);
}
@media (max-width: 1150px) {
  .disclaimer_txt p {
    width: 100%;
    margin-bottom: 10px;
  }
}
.disclaimer_txt button {
  max-width: 200px;
}
@media (max-width: 1150px) {
  .disclaimer_txt button {
    margin: 0 auto;
  }
}
.disclaimer p {
  font-family: "Inter", sans-serif;
  text-align: justify;
  font-weight: 400;
}
@media (max-width: 1150px) {
  .disclaimer p {
    font-size: 14.6px;
  }
}
.disclaimer b {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
@media (max-width: 1150px) {
  .disclaimer b {
    margin-bottom: 6px;
  }
}
.disclaimer .w-100 {
  margin-top: 20px;
  width: 100%;
}

.loader {
  position: fixed;
  inset: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  display: none;
}
.loader.active {
  display: block;
}
.loader div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  aspect-ratio: 1/1;
  border: 8px solid #005CA9;
  border-left: none;
  border-top: none;
  animation: rotate 4s normal linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}/*# sourceMappingURL=style.css.map */